<!DOCTYPE html>
<html>
<!--Setup html for tab title, meta tags and link to css-->
<head>
    <title>Fire Detection Dashboard test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
        </section>
        <section id="Live Video Feed">
        <h2 class="padding_buttom">🔴 Live stream</h2>
        <div class="card">
        <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
        <div style="text-align:center;">
            <button id="startBtn">Start</button>
            <button id="stopBtn" disabled>Stop</button>
        </div>
        </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Fire Detection App</p>
    </footer>
</body>
</html>